.calender{
    max-width: 100%;
    font-family: sans-serif ;
    font-weight: bold;
    color: black;
    margin: 3% 10%;
    
}
h1{
    font-size: 70px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.month{
    text-align: center;
    background: white;
    font-size: 50px;
    letter-spacing: 1px;
    color:#fff;
    background-color: #167DC1;
    border:2px solid black;
}
 table, th, td{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 27px;
    border-collapse: collapse;
    border:2px solid black;
    font-family: Elaphant;
}
td{
    cursor: pointer;
}
tr, th, td{
    padding: 15px;
}
table tr td small{
    font-size: 14px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #3e8e41;}